//많이 사용하는 변수

/*font*/
$title : 'genesis-head', sans-serif;
$titleLight : 'genesis-head-light',  sans-serif;
$text : 'genesis-text', sans-serif;

/*color*/
$white : #ffffff;
$black : #111111;

//mixin, var .css로 변환할 필요 없다.